body {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: goldenrod;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: goldenrod;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e04e2b;
}
